List

In [ ]:
#--- List

# Kumpulan data angka
data_angka = [1,5,2,3]
print(data_angka)

# Kumpulan data string
data_string = ["aku", "dia", "kamu"]
print(data_string)

#kumpulan data boolean
data_boolean = [True, False, True, False]
print(data_boolean)

#Kumpulan campuran
data_campuran = [1, "Sylus", 2, "Caleb", True, "Zayne"]
print(data_campuran)

#cara alternatif membuat list
data_range = range(0,10,2) #range(start, stop, step)
print(data_range)
data_list = list(data_range)
print(data_list)

#memanggil list menggunakan for
list_for = [i for i in range (0,10)]
print(list_for)

#memanggil list menggunakan for
list_for = [i **2 for i in range (0,10)]
print(list_for)

#membuat list menggunakan for pake if
list_for_if = [i for i in range(0,11) if i !=2]
print(list_for_if)

#buat list menggunakan for tapi yang akan tampil hanya jika bilangan genap
list_for_if = [i for i in range(0,11) if i %2 == 0]
print(list_for_if)

#buat list menggunakan for tapi yang akan tampil hanya jika bilangan ganjil
list_for_if = [i for i in range(0,11) if i %2 != 0]
print(list_for_if)

[1, 5, 2, 3]
['aku', 'dia', 'kamu']
[True, False, True, False]
[1, 'Sylus', 2, 'Caleb', True, 'Zayne']
range(0, 10, 2)
[0, 2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

Manipulasi List

In [ ]:
## --- Operasi List
# index  0(-3)   1(-2)    2(-1)
data = ["Jennie", "Lisa", "Jisoo"]

#mengambil data dari list
data_0 = data[0]
print(f"data pertama = {data_0} ")

data_terakhir = data[-1]
print(f"panjang data = {data_terakhir}")

#mengambil info jumlah data dalam list
panjang_data = len(data)
print(f"Panjang data = {panjang_data}")

#manipulasi data list

#menambahkan item pada list sesuai posisi
print(f"data sebelum ditambah = \n{data}")

#data.insert (posisi, item)

data.insert(1, "Rose")
print(f"data sesudah ditambah = \n{data}")

 #menambah di akhir list
data.append("Irene")
print(f"data ditambah lagi = \n{data}")

#menambah list dengan list
data_baru = ["Sylus", "Caleb", "Rafayel"]
data.extend(data_baru)
print(f"data gabungan = \n{data}")

#merubah data
#ubah data 2 menjadi 'Xavier'
data[2] = "Xavier"
print(f"data rubah = \n {data}")

#Mengahpus Data
data.remove("Irene")
print(f"data hapus = \n{data}")

#Mengahpus data paling belakang
data.pop()
print(f"data akhir = \n{data}")

data pertama = Jennie
panjang data = Jisoo
Panjang data = 3
data sebelum ditambah =
['Jennie', 'Lisa', 'Jisoo']
data sesudah ditambah =
['Jennie', 'Rose', 'Lisa', 'Jisoo']
data ditambah lagi =
['Jennie', 'Rose', 'Lisa', 'Jisoo', 'Irene']
data gabungan =
['Jennie', 'Rose', 'Lisa', 'Jisoo', 'Irene', 'Sylus', 'Caleb', 'Rafayel']
data rubah =
 ['Jennie', 'Rose', 'Xavier', 'Jisoo', 'Irene', 'Sylus', 'Caleb', 'Rafayel']
data hapus =
['Jennie', 'Rose', 'Xavier', 'Jisoo', 'Sylus', 'Caleb', 'Rafayel']
data akhir =
['Jennie', 'Rose', 'Xavier', 'Jisoo', 'Sylus', 'Caleb']

Operasi List

In [ ]:
##---Operasi List---

#index 0(-3)    1(-2)    2(-1)
data_angka = [1, 5, 1, 4, 3, 2, 4, 3, 2, 3, 7, 8, 9, 0]
print(f"data angka = \n{data_angka}")

#count data
jumlah_data_4 = data_angka.count(4)
jumlah_data_3 = data_angka.count(3)

print(f"jumlah angka 4 = {jumlah_data_4}")
print(f"jumlah angka 3 = {jumlah_data_3}")

#Ambil posisi data

data = ["Sylus", "Caleb", "Rafayel", "Xavier"]
print(f"data ={data}")

index_Caleb = data.index("Caleb")
index_Rafayel = data.index("Rafayel")

print(f"index si Caleb = {index_Caleb}")
print(f"index si Rafayel = {index_Rafayel}")

#Mengurutkan List
print(f"data angka sebelum sort = \n{data_angka}")
data_angka.sort()
print(f"data angka sort = \n{data_angka}")

print(f"data = {data}")
data.sort()
print(f"data sort = {data}")

#Balik Listnya
data_angka.reverse ()
data.reverse()
print(f"data di reverse = \n{data_angka}")
print(f"data di reverse = \n{data}")

data angka =
[1, 5, 1, 4, 3, 2, 4, 3, 2, 3, 7, 8, 9, 0]
jumlah angka 4 = 2
jumlah angka 3 = 3
data =['Sylus', 'Caleb', 'Rafayel', 'Xavier']
index si Caleb = 1
index si Rafayel = 2
data angka sebelum sort =
[1, 5, 1, 4, 3, 2, 4, 3, 2, 3, 7, 8, 9, 0]
data angka sort =
[0, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 7, 8, 9]
data = ['Sylus', 'Caleb', 'Rafayel', 'Xavier']
data sort = ['Caleb', 'Rafayel', 'Sylus', 'Xavier']
data di reverse =
[9, 8, 7, 5, 4, 4, 3, 3, 3, 2, 2, 1, 1, 0]
data di reverse =
['Xavier', 'Sylus', 'Rafayel', 'Caleb']

Nosted list / List Bersarang

In [1]:
#--- nosted list

data_0 = [1,2]
data_1 = [3,4]

data_list_biasa = [1,2,3,4]
print(f"List biasa = {data_list_biasa}")

list_2D = [data_0,data_1]
print(f"List 2D = {list_2D}")

list_2D = [data_0,data_1,6,7]
print(f"List 2D = {list_2D}")

#contoh penggunaan
peserta_0 = ["Sylus", 25, "Laki-laki"]
peserta_1 = ["Caleb", 10, "Laki-laki"]
peserta_2 = ["Serena", 21, "Wanita"]

list_peserta = [peserta_0, peserta_1, peserta_2]
print(f"Info peserta : {list_peserta}")

for peserta in list_peserta:
  print(f"Nama\t : {peserta[0]}")
  print(f"Umur\t : {peserta[1]}")
  print(f"Gender\t : {peserta[2]}\n")

List biasa = [1, 2, 3, 4]
List 2D = [[1, 2], [3, 4]]
List 2D = [[1, 2], [3, 4], 6, 7]
Info peserta : [['Sylus', 25, 'Laki-laki'], ['Caleb', 10, 'Laki-laki'], ['Serena', 21, 'Wanita']]
Nama	 : Sylus
Umur	 : 25
Gender	 : Laki-laki

Nama	 : Caleb
Umur	 : 10
Gender	 : Laki-laki

Nama	 : Serena
Umur	 : 21
Gender	 : Wanita

Latihan / Tugas

In [ ]:
buah =['apel' , 'mangga' , 'jeruk' , 'anggur' , 'pisang']
print("List awal :", buah)

#a. Tambahkan 'semangka' di akhi list
buah.append('semangka')
print("\na. Setelah menambah 'semangka' :", buah)

#b. Sisipkan 'durian' di antara 'jeruk' dan 'anggur'
buah.insert(4, 'durian') # indeks 4 karena anggur ada diindeks sebelum perubahan
print("\nb. Setelah menyisipkan 'durian' :", buah)

#c. Hapus mangga dari list
buah.remove('mangga')
print("\nc. Setelah menghapus 'mangga' : ", buah)

#d. Ubah 'pisang' mejadi 'nanas'
buah[buah.index('pisang')] = 'nanas'
print("\nd. Setelah mengubah 'pisang' menjadi 'nanas' :", buah)

#e. Tampilkan 3 buah pertama
print("\ne. Tiga buah pertama :", buah [: 3])

List awal : ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']

a. Setelah menambah 'semangka' : ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']

b. Setelah menyisipkan 'durian' : ['apel', 'mangga', 'jeruk', 'anggur', 'durian', 'pisang', 'semangka']

c. Setelah menghapus 'mangga' :  ['apel', 'jeruk', 'anggur', 'durian', 'pisang', 'semangka']

d. Setelah mengubah 'pisang' menjadi 'nanas' : ['apel', 'jeruk', 'anggur', 'durian', 'nanas', 'semangka']

e. Tiga buah pertama : ['apel', 'jeruk', 'anggur']

In [ ]:
angka = [ 45, 12 , 78 , 23 , 56 , 89 , 34]
print("\nList angka awal :", angka)

#a. Urutkan list secara ascending
angka_asc = sorted(angka)
print("\na. Urut ascerding:", angka_asc)

#b. Urutkan list secara descending
angka_desc = sorted(angka, reverse=True)
print("\nb. Urut descending:", angka_desc)

List angka awal : [45, 12, 78, 23, 56, 89, 34]

a. Urut ascerding: [12, 23, 34, 45, 56, 78, 89]

b. Urut descending: [89, 78, 56, 45, 34, 23, 12]